$dark-brown: #372E28;
$solid-brown: #3E342D;
$soft-brown: #655C56;
$tan: #BBADA3;

$solid-green: #3E6335;
$light-green: #ACCDA4;

$solid-blue: #226BAF;
$light-blue: #A9CEEE;

$solid-grey: #676767;
$light-grey: #B0B0B0;
$lighter-grey: #F4F4F4;