@import 'colors';

// Home Logged Out Page
.mottoSection {
    width: 900px;
    color: $solid-brown;
    margin-top: 50px;
    .motto {
        font-size: 60px;
        line-height: 80px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }
    .description {
        list-style-type: disc;
        font-size: 22px;
        margin-top: 20px;
        margin-left: 50px;
    }
}
.screenshots {
    margin-top: 70px;
    img {
        width: 550px;
        border: solid 10px $solid-brown;
        border-radius: 10px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
}

// Login Modal 
.modalHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .overlay {
        position: fixed;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }      
    .modal {
        background: $lightest-grey;
        width: 600px;
        height: 300px;
        .loginTxt {
            color: $solid-brown;
            font-size: 45px;
        }
        .inputs {
            margin-top: 95px;
            margin-right: 20px;
            .loginInput {
                label {
                    color: $solid-brown;
                    text-align: right;
                    padding: 5px;
                    width: 130px;
                    font-size: 25px;
                }
                input {
                    width: 350px;
                    background: $light-grey;
                    padding: 5px;
                    padding-left: 10px;
                    font-size: 20px;
                    border: solid 1.5px $solid-brown;;
                }
            }
        }
        #error {
            font-size: 20px;
            margin-top: 15px;
            margin-left: 20px;
            width: 250px;
        }
        .close {
            color: $solid-brown;
            font-size: 35px;
            &:hover {
                transition: 0.2s;
                cursor: pointer;
                filter: opacity(80%);
            }
        }
    }
}

// Menu Modal
.menuModal {
    .overlay {
        position: fixed;
        bottom: 0;
        top: 80px;
        width: 100%;
        height: 100%;
    }
    .modal {
        top: 80px;
        background: $solid-brown;
        width: 250px;
        height: 230px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        .modal-content {
            margin-top: 10px;
            p {
                font-size: 20px;
                line-height: 40px;
                &:hover {
                    cursor: pointer;
                    transition: .2s;
                    color: gold;
                }
            }
        }
    }
}

// Home Logged In Page
.morningTxt {
    color: $solid-brown;
    font-size: 80px;
    margin-top: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

// Register Page
.registerBox {
    background: $lightest-grey;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 700px;
    height: 600px;
    margin-top: 50px;
    h1 {
        color: $solid-brown;
        font-size: 45px;
        margin-top: 25px;
        margin-left: 80px;
        margin-bottom: 15px;
    }
    .residentCheck {
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        margin-right: 90px;
        margin-top: 15px;
        font-size: 15px;
        color: $solid-brown;
        input {
            cursor: pointer;
            width: 20px;
            height: 20px;
            accent-color: $solid-green;
        }
    }
    #error {
        font-size: 20px;
        margin-top: 20px;
        margin-left: 30px;
        width: 250px;
    }
}

// Your Reps Page
.yourReps {
    .title {
        color: $solid-brown;
        font-size: 70px;
        margin-top: 40px;
    }
    .yourRepBox {
        width: 300px;
        height: 500px;
        background: $lightest-grey;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        overflow-y: auto;
        .title {
            line-height: 35px;
            font-size: 30px;
            color: $solid-brown;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .repBox {
            width: 220px;
            height: 350px;
            margin-bottom: 20px;
            background: $light-grey;
            overflow: hidden;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
            .topTxt {
                font-size: 20px;
                z-index: 10;
                background: $light-grey;
                padding: 5px;
                padding-top: 7px;
                box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
            }
            .bottomTxt {
                font-size: 18px;
                line-height: 20px;
                z-index: 10;
                background: $light-grey;
                padding: 10px;
                box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
            }
        }
    }
}