@import 'colors';

body {
    font-family: 'Inter';
    overflow: hidden;
    background: $tan;
    user-select: none;
}
.exit {
    width: 80px;
    left: 30px;
    top: 90px;
    &:hover {
        cursor: pointer;
        transition: .2s;
        filter: opacity(80%);
    }
}

@mixin txt_hover($bright){
    &:hover {
        transition: 0.3s;
        cursor: pointer;
        filter: brightness($bright);
    }
}

// Navbar Component
.navbar {
    background: $solid-brown;
    height: 80px;
    .logo {
        height: 70px;
        margin-top: 5px;
        margin-left: 10px;
        @include txt_hover(70%);
    }
    .menu {
        height: 44px;
        margin-top: 18px;
        margin-right: 20px;
        @include txt_hover(70%);
    }
    .txt-holder p {
        font-size: 30px;
        margin-top: 18px;
        margin-right: 35px;
        @include txt_hover(70%);
    }
    .startTxt {
        color: white !important;
    }
}

// BgImage Component
.bgImage {
    opacity: 8%;
    z-index: -1;
}

// GreenButton Component
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    @include txt_hover(120%);
}

// AccountInput Component
.accountInput {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 30px;
    label {
        padding: 5px;
        padding-right: 10px;
        width: 150px;
        text-align: right;
        color: $solid-brown;
    }
    input {
        padding: 5px;
        padding-left: 10px;
        width: 400px;
        border: solid 1.5px $solid-brown;
    }
}

// ProgressBar Component
.progBar {
    .title {
        text-align: center;
        font-size: 50px;
        margin-top: 180px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
    .outerContainer {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: auto;
        width: 1000px;
        height: 80px;
        border-radius: 5px;
        overflow: hidden;
        background: $lightest-grey;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        .innerBar {
            background: $solid-green;
            height: 100%;
            width: 0%;
        }
    }
}