@import 'colors';

// Setup page
.mailSetup {
    .setupTitle {
        color: $solid-brown;
        font-size: 60px;
        margin-top: 20px;
    }
    .boxesContainer {
        margin-top: 20px;
        .title {
            color: $solid-brown;
            font-size: 40px;
            padding-top: 15px;
            padding-left: 30px;
            padding-bottom: 15px;
        }
        .recipientsContainer {
            width: 800px;
            height: 550px;
            background: $lightest-grey;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            overflow-y: scroll;
            .recipientBox {
                width: 220px;
                height: 310px;
                margin-bottom: 20px;
                background: $light-grey;
                overflow: hidden;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
                &:hover {
                    cursor: pointer;
                    transition: .2s;
                    border: 10px solid goldenrod !important;
                }
                .topTxt {
                    font-size: 20px;
                    z-index: 10;
                    background: $light-grey;
                    padding: 5px;
                    padding-top: 7px;
                    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
                }
                .bottomTxt {
                    font-size: 15px;
                    z-index: 10;
                    background: $light-grey;
                    padding: 5px;
                    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
                }
            }
        }
        .optionsContainer {
            width: 500px;
            height: 450px;
            background: $lightest-grey;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            .optionBtn {
                font-size: 30px;
                background: $soft-brown;
                width: 420px;
                height: 90px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                &:hover {
                    cursor: pointer;
                    transition: .2s;
                    border: 10px solid goldenrod !important;
                }
            }
        }
    }
}

// Email Editor Page
.emailEditor {
    .title {
        color: $solid-brown;
        font-size: 40px;
        margin-top: 15px;
        padding-bottom: 10px;
    }
    .inputHolder {
        margin-right: 70px;
        label {
            font-size: 20px;
            padding-right: 15px;
            width: 120px;
        }
        input {
            width: 600px;
            font-size: 15px;
            padding-left: 10px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
            background: white;
        }
    }
    .body {
        width: 1400px;
        height: 520px;
        background: white;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        padding: 15px;
        font-size: 20px;
        resize: none;
    }
    .infoTxt {
        margin-top: 10px;
        margin-left: 155px;
        font-size: 17px;
        color: $solid-brown;
        span {
            font-size: 20px;
            font-weight: bold;
            color: #15803d;
        }
    }
}