.inter {
  font-family: "Inter" !important;
}

.mailSetup .setupTitle {
  color: #3E342D;
  font-size: 60px;
  margin-top: 20px;
}
.mailSetup .boxesContainer {
  margin-top: 20px;
}
.mailSetup .boxesContainer .title {
  color: #3E342D;
  font-size: 40px;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 15px;
}
.mailSetup .boxesContainer .recipientsContainer {
  width: 950px;
  height: 550px;
  background: #F4F4F4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
}
.mailSetup .boxesContainer .recipientsContainer .recipientBox {
  width: 200px;
  height: 310px;
  margin-bottom: 20px;
  background: #B0B0B0;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.mailSetup .boxesContainer .recipientsContainer .recipientBox:hover {
  cursor: pointer;
  transition: 0.2s;
  border: 10px solid goldenrod !important;
}
.mailSetup .boxesContainer .recipientsContainer .recipientBox .topTxt {
  font-size: 20px;
  z-index: 10;
  background: #B0B0B0;
  padding: 5px;
  padding-top: 7px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}
.mailSetup .boxesContainer .recipientsContainer .recipientBox .bottomTxt {
  font-size: 15px;
  line-height: 20px;
  z-index: 10;
  background: #B0B0B0;
  padding: 5px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.mailSetup .boxesContainer .optionsContainer {
  width: 500px;
  height: 450px;
  background: #F4F4F4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.mailSetup .boxesContainer .optionsContainer .optionBtn {
  font-size: 30px;
  background: #655C56;
  width: 420px;
  height: 90px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.mailSetup .boxesContainer .optionsContainer .optionBtn:hover {
  cursor: pointer;
  transition: 0.2s;
  border: 10px solid goldenrod !important;
}

.mailEditor .spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 150px;
}
.mailEditor .title {
  color: #3E342D;
  font-size: 40px;
  margin-top: 15px;
  padding-bottom: 10px;
}
.mailEditor .inputHolder {
  margin-right: 70px;
}
.mailEditor .inputHolder label {
  font-size: 20px;
  padding-right: 15px;
  width: 120px;
}
.mailEditor .inputHolder input {
  width: 600px;
  font-size: 15px;
  padding-left: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background: white;
}
.mailEditor .body {
  width: 1400px;
  background: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  font-size: 20px;
  resize: none;
  overflow-y: scroll;
}
.mailEditor .letterH {
  font-family: "Times New Roman", Times, serif;
  height: 545px;
}
.mailEditor .emailH {
  height: 520px;
}
.mailEditor .infoTxt {
  margin-top: 10px;
  margin-left: 155px;
  font-size: 17px;
  color: #3E342D;
}
.mailEditor .infoTxt span {
  font-size: 20px;
  font-weight: bold;
  color: #15803d;
}
.mailEditor .infoTxt2 {
  margin-left: 155px;
  font-size: 17px;
  color: #3E342D;
}
.mailEditor .infoTxt2 span {
  font-size: 20px;
  font-weight: bold;
  color: #1d4ed8;
}

.mailComplete .sentTxt {
  color: #3E342D;
  font-size: 70px;
  margin-top: 110px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.savedMail .spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 30px;
}
.savedMail .title {
  color: #3E342D;
  font-size: 70px;
  margin-top: 10px;
}
.savedMail .minimizedMail {
  width: 750px;
  height: 550px;
  background: #F4F4F4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
  border: 2px solid #3E342D;
}
.savedMail .bigMail {
  width: 850px;
  height: 550px;
  background: #F4F4F4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
  border: 2px solid #3E342D;
}
.savedMail .bigMail .mailHolder {
  margin-top: 15px;
  margin-left: 25px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.savedMail .txtHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.savedMail .txtHolder i {
  color: #676767;
  font-size: 25px;
  margin-bottom: 40px;
}

.mailMin {
  height: 70px;
  border-bottom: 2px solid #3E342D;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 10px;
}
.mailMin:hover {
  cursor: pointer;
  transition: 0.2s;
  background: gold !important;
}

.templateModal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.templateModal .overlay {
  position: fixed;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.templateModal .modal {
  background: #F4F4F4;
  width: 700px;
  height: 560px;
  padding-left: 20px;
  padding-right: 20px;
}
.templateModal .modal .title {
  color: #3E342D;
  font-size: 45px;
}
.templateModal .modal .close {
  color: #3E342D;
  font-size: 35px;
}
.templateModal .modal .close:hover {
  transition: 0.2s;
  cursor: pointer;
  filter: opacity(80%);
}
.templateModal .modal .templateBox {
  width: 200px;
  height: 200px;
  background: #B0B0B0;
  margin-top: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.templateModal .modal .templateBox p {
  color: #3E342D;
  font-size: 22px;
  padding: 10px;
}
.templateModal .modal .templateBox:hover {
  transition: 0.2s;
  cursor: pointer;
  filter: brightness(80%);
}

.aiModal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.aiModal .overlay {
  position: fixed;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.aiModal .modal {
  background: #F4F4F4;
  width: 700px;
  height: 560px;
  padding-left: 20px;
  padding-right: 20px;
}
.aiModal .modal .title {
  color: #3E342D;
  font-size: 50px;
}
.aiModal .modal .close {
  color: #3E342D;
  font-size: 35px;
}
.aiModal .modal .close:hover {
  transition: 0.2s;
  cursor: pointer;
  filter: opacity(80%);
}/*# sourceMappingURL=Mail.css.map */