@import 'colors';

.inter {
    font-family: 'Inter' !important;
}

// Setup page
.mailSetup {
    .setupTitle {
        color: $solid-brown;
        font-size: 60px;
        margin-top: 20px;
    }
    .boxesContainer {
        margin-top: 20px;
        .title {
            color: $solid-brown;
            font-size: 40px;
            padding-top: 15px;
            padding-left: 30px;
            padding-bottom: 15px;
        }
        .recipientsContainer {
            width: 950px;
            height: 550px;
            background: $lightest-grey;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            overflow-y: scroll;
            .recipientBox {
                width: 200px;
                height: 310px;
                margin-bottom: 20px;
                background: $light-grey;
                overflow: hidden;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
                &:hover {
                    cursor: pointer;
                    transition: .2s;
                    border: 10px solid goldenrod !important;
                }
                .topTxt {
                    font-size: 20px;
                    z-index: 10;
                    background: $light-grey;
                    padding: 5px;
                    padding-top: 7px;
                    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
                }
                .bottomTxt {
                    font-size: 15px;
                    line-height: 20px;
                    z-index: 10;
                    background: $light-grey;
                    padding: 5px;
                    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
                }
            }
        }
        .optionsContainer {
            width: 500px;
            height: 450px;
            background: $lightest-grey;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            .optionBtn {
                font-size: 30px;
                background: $soft-brown;
                width: 420px;
                height: 90px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                &:hover {
                    cursor: pointer;
                    transition: .2s;
                    border: 10px solid goldenrod !important;
                }
            }
        }
    }
}

// Mail Editor Page
.mailEditor {
    .spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-bottom: 150px;
    }
    .title {
        color: $solid-brown;
        font-size: 40px;
        margin-top: 15px;
        padding-bottom: 10px;
    }
    .inputHolder {
        margin-right: 70px;
        label {
            font-size: 20px;
            padding-right: 15px;
            width: 120px;
        }
        input {
            width: 600px;
            font-size: 15px;
            padding-left: 10px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
            background: white;
        }
    }
    .body {
        width: 1400px;
        background: white;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        padding: 15px;
        font-size: 20px;
        resize: none;
        overflow-y: scroll;
    }
    .letterH {
        font-family: "Times New Roman", Times, serif;
        height: 545px;
    }
    .emailH {
        height: 520px;
    }
    .infoTxt {
        margin-top: 10px;
        margin-left: 155px;
        font-size: 17px;
        color: $solid-brown;
        span {
            font-size: 20px;
            font-weight: bold;
            color: #15803d;
        }
    }
    .infoTxt2 {
        margin-left: 155px;
        font-size: 17px;
        color: $solid-brown;
        span {
            font-size: 20px;
            font-weight: bold;
            color: #1d4ed8;
        }
    }
}

// Mail Complete Page
.mailComplete {
    .sentTxt {
        color: $solid-brown;
        font-size: 70px;
        margin-top: 110px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }
}

// Downloaded Letters Page 
.savedMail {
    .spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-bottom: 30px;
    }
    .title {
        color: $solid-brown;
        font-size: 70px;
        margin-top: 10px;
    }
    .minimizedMail {
        width: 750px;
        height: 550px;
        background: $lightest-grey;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        overflow-y: scroll;
        border: 2px solid $solid-brown;
    }
    .bigMail {
        width: 850px;
        height: 550px;
        background: $lightest-grey;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        overflow-y: scroll;
        border: 2px solid $solid-brown;
        .mailHolder {
            margin-top: 15px;
            margin-left: 25px;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
        }
    }
    .txtHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        i {
            color: $solid-grey;
            font-size: 25px;
            margin-bottom: 40px;
        }
    }
}

// Letter Minimized
.mailMin {
    height: 70px;
    border-bottom: 2px solid $solid-brown;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 10px;
    &:hover {
        cursor: pointer;
        transition: .2s;
        background: gold !important;
    }
}

// Template Modal
.templateModal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .overlay {
        position: fixed;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }      
    .modal {
        background: $lightest-grey;
        width: 700px;
        height: 560px;
        padding-left: 20px;
        padding-right: 20px;
        .title {
            color: $solid-brown;
            font-size: 45px;
        }
        .close {
            color: $solid-brown;
            font-size: 35px;
            &:hover {
                transition: 0.2s;
                cursor: pointer;
                filter: opacity(80%);
            }
        }
        .templateBox {
            width: 200px;
            height: 200px;
            background: $light-grey;
            margin-top: 15px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            p {
                color: $solid-brown;
                font-size: 22px;
                padding: 10px;
            }
            &:hover {
                transition: 0.2s;
                cursor: pointer;
                filter: brightness(80%);
            }
        }
    }
}

// AI Modal
.aiModal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .overlay {
        position: fixed;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }      
    .modal {
        background: $lightest-grey;
        width: 700px;
        height: 560px;
        padding-left: 20px;
        padding-right: 20px;
        .title {
            color: $solid-brown;
            font-size: 50px;
        }
        .close {
            color: $solid-brown;
            font-size: 35px;
            &:hover {
                transition: 0.2s;
                cursor: pointer;
                filter: opacity(80%);
            }
        }
    }
}